@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

// @import '~bootstrap/scss/bootstrap';

@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    font-family: Poppins;
}

[v-cloak] {
    display: none
}
.bg-betterrx {
    background: $betterrx-orange;
}

.bg-betterrx-lighter {
    background: $betterrx-orange-lighter;
}

.text-betterrx-orange {
    color: $betterrx-orange;
}

/*
 * Instructions
 *
 * Do NOT use this file for new classes, use main.scss or admin.scss
 *
 * Color codes should be referenced using :  config('colors.blue') which
 * pulls from /tailwind.js configuration file
 */

